<script>
  AOS.init();
</script>


<nav id="navigation" class="sticky">
  <div class="nav-sides nav-text shadowed-text">
    <a id="about_link" href="/about">
      <script>document.write(JSON.parse(window.getPageProperty("header", "about")))</script>
    </a>
    <a id="contact_link" href="/contact">
      <script>document.write(JSON.parse(window.getPageProperty("header", "contact")))</script>
    </a>
  </div>

  <div id="selector" class="nav-sides">
    <label class="nav-text shadowed-text" for="lang_selector">
      <script>document.write(window.getPageProperty("header", "lang_label") + " :")</script>
    </label>
    <select id="lang_selector" name="lang_selector" onchange="setLang()">
    </select>
  </div>
</nav>

<div class="big-title shadowed-text">
  <a href="/">
    <h1>Code Surfer</h1>
    <h2>
      <script>document.write(window.getPageProperty("header", "small_title"))</script>
    </h2>
  </a>
</div>


<script>
  document.getElementById("about_link").title = window.getPageProperty("header", "about_title");
  document.getElementById("contact_link").title = window.getPageProperty("header", "contact_title");
  

  let lang_selector = document.getElementById("lang_selector");

  for(const lang of window.all_langs) {
    let lang_opt = document.createElement("option");
    lang_opt.value = lang.id;
    lang_opt.innerHTML = lang.name;
    lang_opt.selected = (lang.id === Number(JSON.parse(window.curr_lang["id"])));
    lang_selector.appendChild(lang_opt);
  }

  function setLang() {
    $.ajax({
      type: "POST",
      url: "/setLang",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        val: lang_selector.value
      })
    });
    location.reload();
  }
</script>

<hr/>