<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head") %>
  </head>

  <body>
    <header>
      <%- include("../partials/header") %>
    </header>

    <section id="content_section" class="content-text shadowed-text">
      <div class="content-box">
        <h1 class="text-in-box">Did you get lost?</h1>
        <p class="text-in-box">
          Looks like this page wasn't found on the server.<br/>
          I would invite you to proceed, but there's nothing here,
          so I invite you to go back instead.<br/>
          <br/>
          Oh and thanks for browsing my website!
        </p>
      </div>
    </section>

    <footer>
      <%- include("../partials/footer") %>
    </footer>
  </body>
</html>