<!DOCTYPE html>
<html>

  <head>
      <%- include("../partials/head") %>
  </head>

  <body>

    <header id="header_section">
      <%- include("../partials/header") %>
    </header>

    <section id="content_section" class="shadowed-text">

      <script>
        for(let section of JSON.parse(window.getPageProperty("sections"))) {
          section = JSON.parse(section);
          
          document.write("<div><h2>"
              + section.title
              + "</h2>"
          );

          if(section.title.includes("CV")) {
            let cv = JSON.parse(section.content);
            console.dir(cv);
          }
          else document.write("<p>" + section.content + "</p>");
          
          document.write("</div><br/><br/>");
        }
      </script>

    </section>

    <footer id="footer_section">
      <%- include("../partials/footer") %>
    </footer>

  </body>

</html>