<!DOCTYPE html>
<html>

  <head>
      <%- include("../partials/head") %>
  </head>

  <body>
    <header id="header_section">
      <%- include("../partials/header") %>
    </header>

    <section id="content_section">
      
    </section>

    <footer id="footer_section">
      <%- include("../partials/footer") %>
    </footer>

  </body>

</html>